<!DOCTYPE html>
<html class="no-js " lang="zh-CN">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="dns-prefetch" href="https://dn-kdt-img.qbox.me/">
  <link rel="dns-prefetch" href="https://img.yzcdn.cn/">
  <link rel="dns-prefetch" href="http://dummyimage.com">
  <link rel="dns-prefetch" href="https://b.yzcdn.cn/">
  <link rel="dns-prefetch" href="https://su.yzcdn.cn/">
  <link rel="dns-prefetch" href="https://h5.youzan.com/v2/">
  <link rel="dns-prefetch" href="https://h5.youzan.com/">
  <meta name="keywords" content="有赞,移动电商服务平台">
  <meta name="description" content="有赞是帮助商家在微信上搭建微信商城的平台，提供店铺、商品、订单、物流、消息和客户的管理模块，同时还提供丰富的营销应用和活动插件。">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="cleartype" content="on">
  <link rel="shortcut icon" href="https://b.yzcdn.cn/v2/image/yz_fc.ico">
  <title>分类</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body class=" " style="max-width: 420px;margin: 0 auto;">
<div id="app" v-cloak>
  <div class="loading" v-if="!topList">
    <span class="loading-img"></span>
  </div>
  <div v-else class="container with-bottom-nav" style="min-height: 667px;  height:calc(100vh - 50px)">
    <div class="custom-search js-search-bar" v-if="topList">
      <span class="form">
        <input @keyup.enter="search" type="text" ref="input" class="custom-search-input" name="keyword"
               placeholder="搜索更赞的商品">
        <span class="icon-custom-search"></span>
      </span>
      <button class="custom-search-type-selection-btn">商品</button>
      <span class="cancel">取消</span>
      <div class="search-type-dropdown-menu" style="display: none;">
        <span class="search-type-dropdown-menu-indicator">
            <i></i>
        </span>
        <div class="drop-menu-content">
          <div class="search-type-goods">
            <i class="icon-goods"></i>
            <span>商品</span>
          </div>
          <div class="search-type-dropdown-menu-divider"></div>
          <div class="search-type-shop">
            <i class="icon-shop"></i>
            <span>店铺</span>
          </div>
        </div>
      </div>
    </div>
    <div class="search-content" style="display: none;"></div>
    <div class="content" style="">
      <div class="class-nav">
        <div id="scroll-nav" style="height: 100%;">
          <ul class="nav" id="scroll-nav-content" style="transform: translate3d(0px, 0px, 0px);"
              v-for="(list,index) in topList">
            <li @click="getSubList(list.id)" class="category-name js-category-name"
                :class="{active: currentIndex===list.id}"
                :data-cid="list.id"
            >{{list.name}}
            </li>

          </ul>
        </div>
      </div>
      <div class="class-category" v-if="rankList">
        <div id="scroll-main-wrap" class="main-content">
          <div id="scroll-main-content" class="js-main-content inner-content"
               style="height: 943px; transform: translate3d(0px, 0px, 0px); " v-show="currentIndex ===800">
            <div class="hot-wrap">
              <div class="hot-goods">
                <div class="hot-title">
                  <p class="pull-left">热销商品榜</p>
                  <a class="pull-right disabled icon-right">更多</a>
                </div>
                <ul>
                  <li class="goods-item" v-for="list in rankList.hotGoods" @click="toSearch(list)">
                    <a :href="'goods.html?id='+list.id">
                      <div class="thumb badge center-img">
                        <img :src="list.img">
                        <span class="num">{{list.id}}</span>
                      </div>
                      <div class="detail">
                        <div class="title">{{list.name}}</div>
                        <div class="price">￥{{list.price | formatPrice}}</div>
                        <div class="recommend">
                          <span>推荐值:</span>
                          <span>{{list.recommend}}</span>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="hot-shops" style="position: relative;">
                <div class="hot-title">
                  <p class="pull-left">TOP店铺榜</p>
                  <a class="pull-right disabled icon-right">更多</a>
                </div>
                <ul>
                  <li class="shop-item" v-for="(list,index) in rankList.hotShops" @click="toSearch(list.name)">
                    <div class="shop-title">
                      <span class="badge">{{index+1}}</span>
                      <a>{{list.name}}</a>
                      <span class="follows"> / 关注度: {{list.follows}}</span>
                    </div>
                    <ul class="shop-images">
                      <li v-for="img in list.imgs">
                        <a><img :src="img"></a>{{img}}
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="hot-keywords">
                <div class="hot-title">
                  <p class="pull-left">热搜词排行</p>
                </div>
                <ul class="keywords-list">
                  <li v-for="list in rankList.hotKeywords" @click="toSearch(list)"><a href="javascript:;"
                                                                                      class="js-hot-keyword">{{list}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div v-if="subList" id="scroll-main-content" class="js-main-content inner-content"
               style="height: 534px; transform: translate3d(0px, 0px, 0px);" v-show="currentIndex !==800">
            <h3 class="category-title">热门品牌 </h3>
            <ul class="category-content">
              <li v-for="list in subList.brandList" @click="toSearch(list.name)" class="category-item js-category-item"
                  :data-item-id="list.id" :data-item-name="list.name">
                <img :src="list.img" :alt="list.name" class="category-img">
                <span class="category-item-name">
                {{list.name}}            </span>
              </li>

            </ul>
            <h3 class="category-title"> 热门分类 </h3>
            <ul class="category-content">
              <li v-for="list in subList.categoryList" @click="toSearch(list.name)"
                  class="category-item js-category-item" :data-item-id="list.id" :data-item-name="list.name">
                <img :src="list.img" :alt="list.name" class="category-img">
                <span class="category-item-name">
                {{list.name}}            </span>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <Foot></Foot>
</div>
</body>

</html>
